@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Lato:wght@300&family=Oswald:wght@200&family=Roboto:wght@100;300;400;500;700&display=swap");

/*Root shortcuts*/
:root {
  --china-pink: #d87093ff;/**/
  --honeydew: #f1faee;
  --honeydew: #f1faee; /**/
  --beige: #f1f3e0; /**/
  --dutch-white: #f1e4c3;/**/
  --wheat: #f0dcb4; /**/
}

/*General*/

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}

body {
  width: 90vw;
  margin: auto;
  color: var(--china-pink);
  background-color: var(--honeydew);
  font-family: "Roboto", "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.section-heading {
  color: var(--china-pink);
  font-size: 2.5rem;
}

.box-color {
  padding: 2rem;
  background: var(--beige);
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#about,
#gallery,
#contact {
  min-height: 100vh;
}

.gallery-images,
.about-section,
.contact-info {
  margin-top: 5rem;
}

.gallery-images h2,
.about-section h2,
.contact-info h2 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.main-heading h2 {
  font-size: 2.5rem;
}

.main-info h3,
.about-info h3,
.volunteers-box h3,
.hours-box h3,
.hours-box h3 {
  padding-bottom: 1.5rem;
}

i {
  padding-bottom: 1.5rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}

/*Header & Nav*/

header {
  background: var(--wheat);
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  color: var(--china-pink);
  font-family: "Arima Madurai", sans-serif;
  display: flex;
  justify-content: center;
}

.navbar {
  margin-bottom: 2px;
  background: var(--honeydew);
  border: 1px solid var(--wheat);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-link {
  color: rgb(80, 80, 80);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--china-pink);
}

/*Main Section*/

.main-section {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.main-section img {
  width: 100%;
  border-radius: 0.5rem;
  grid-column: span 2;

  /* Animates fade effect on loading the page */
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: both;
}

/* Creates fade effect for main-section image */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-heading {
  min-height: 10rem;
  padding-top: 2.5rem;
  color: var(--china-pink);
  background: var(--dutch-white);
  text-align: center;
  border-radius: 0.5rem;
  grid-column: span 2;
}

.main-info {
  border-radius: 0.5rem;
  grid-column: span 2;
}

/*About Section*/

.about-section {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.about-img {
  grid-column: span 2;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-box p {
  margin-bottom: 2rem;
}

.volunteers-box,
.hours-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours {
  padding-bottom: 0.5rem;
  font-weight: 900;
}
.hours + p {
  padding-bottom: 1.5rem;
}

/*Gallery Page*/

.gallery-images {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.gallery-img,
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.gallery-video {
  display: grid;
  gap: 2rem;
}

.gallery-video video {
  border-radius: 0.5rem;
}

/*Contact Page + Form*/

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-box {
  margin-bottom: 2rem;
}

.contact-box form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  margin: 2rem auto;
  border: 0.1rem solid var(--china-pink);
  border-radius: 0.5rem;
}

form label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

form input,
form select,
form textarea {
  color: var(--china-pink);
  font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid var(--china-pink);
}

.contact-btn {
  font-size: 2rem;
  font-weight: 600;
  color: var(--china-pink);
  background-color: var(--wheat);
  padding: 1rem;
  width: auto;
  margin: 2rem 2rem auto;
  border: 0.1rem solid var(--china-pink);
  border-radius: 1.5rem;
}

.comments {
  width: 40%;
  height: 100px;
  padding: 10px;
  background-color: var(--honeydew);
}

.video-loop {
  width: 100%;
  border-radius: 0.5rem;
}

/*footer*/

.footer-box {
  min-height: 5vh;
  background: var(--wheat);
  padding-top: 1rem;
  margin: auto;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

footer a {
  font-size: 5rem;
  color: var(--china-pink);
  padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 480px) {
  .gallery-img:last-child {
    grid-column: span 2;
  }
}

@media screen and (min-width: 480px) {
  body {
    width: 80vw;
    margin: auto;
  }

  .main-heading h2 {
    font-size: 3rem;
  }

  .gallery-images h2,
  .about-section h2,
  .contact-info h2 {
    font-size: 3rem;
  }

  .logo h1 {
    font-size: 5rem;
  }

  .navbar {
    font-size: 1.4rem;
  }

  .main-info {
    grid-column: span 1;
  }

  .about-info p,
  .story-box p,
  .volunteers-box p {
    margin-bottom: 2rem;
  }

  .about-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-img {
    grid-column: span 2;
  }

  .hours p {
    padding-bottom: 1.5rem;
  }

  .gallery-images {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-img {
    max-width: 100%;
  }

  .grid-col-span {
    grid-column: span 1;
  }

  .grid-col-span-gallery {
    grid-column: span 4;
  }
}

@media screen and (min-width: 771px) {
  body {
    width: 70vw;
    margin: auto;
  }

  i {
    padding: 0 2rem 0 0;
    margin: auto;
  }

  .logo h1 {
    font-size: 6rem;
  }

  .navbar {
    font-size: 1.4rem;
  }

  .main-heading {
    font-size: 2.6rem;
  }

  .main-info {
    grid-column: span 1;
  }

  .gallery-images h2,
  .about-section h2,
  .contact-info h2 {
    font-size: 4rem;
  }

  .main-info h3,
  .about-info h3,
  .volunteers-box h3,
  .hours-box h3,
  .hours-box h3 {
    padding-right: 1.5rem;
    margin: auto;
  }

  .main-info p,
  .about-info p,
  .volunteers-box p {
    padding-left: 1.5rem;
    margin: auto;
  }

  .about-section {
    grid-template-columns: repeat(4, 1fr);
  }

  .about-img {
    grid-column: span 4;
  }

  .about-info {
    flex-direction: row;
    align-items: center;
  }

  .volunteers-box,
  .hours-box {
    flex-direction: row;
    align-items: center;
  }

  .hours-box h2 {
    padding-right: 1.5rem;
  }

  .gallery-images {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-img {
    max-width: 100%;
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }

  .grid-col-span-4 {
    grid-column: span 4;
  }

  .grid-col-span-6 {
    grid-column: span 6;
  }

  .contact-box form {
    max-width: 60%;
  }

  .video-loop {
    width: 60%;
    margin-left: 20%;
  }

  .footer-box i {
    padding: 2rem;
  }
}
